:root{
  --color-white: #FFFFFF;
  --color-dark: #1A1917;
  --color-orange: #FFB548;

  --container-width: 1200px;
  --container-padding-x: 15px;

  --font-family-base: "Open Sans";

  --transition-base: .3s;


  --input-small-height: 44px;
  --input-large-height: 60px;

  --button-small-height: 44px;
  --button-large-height: 60px;
}
