.header__dialog{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  top: calc(-100vh - 100%);
  z-index: 100;
  overflow: auto;
  background: rgba(0, 0, 0, .75);
  transition: inset var(--transition-base);

  &-inner{
    padding: 100px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-links{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
    flex: 1;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.28;
    a{
      @include hover{
        color: var(--color-orange);
        transition: var(--transition-base);
      }
      &:focus{
        color: var(--color-orange);
        transition: var(--transition-base);
      }
    }
  }
  &-logos{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }
  &--open{
    top: 0;
    bottom: 0;
  }
}