body{
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;

  color: var(--color-dark);
}

a{
  text-decoration: none;
  color: inherit;
}

h1{
  @include fluid-text(62, 30)
}
h2{
  @include fluid-text(24, 20)
}