:root{
  --color-yellow: #F8F200;
  --color-dark: #000000;
  --color-white: #FFFFFF;
  --color-blue: #52BEDC;
  --color-grey: #818589;
  --color-light-grey: #777777;

  --container-width: 1280px;
  --container-padding-x: 20px;

  --section-padding-y: 70px;

  --font-family-base: Roboto;

  --input-small-height: 33px;
  --input-large-height: 35px;

  --button-small-height: 59px;
  --button-large-height: 78px;

  --border-radius-size:50px;
}
