@import "src/styles/styles";

.company{
  background-color: var(--color-base);
  &__inner{}
  &__list{
    display: grid;
    @include desktop-above{
      grid-template-columns:1fr 1fr  1fr 1fr 1fr 1fr;
      grid-template-rows:1fr;
    }
    @include desktop{
      grid-template-columns:1fr 1fr 1fr;
      grid-template-rows:1fr 1fr;
    }
    @include mobile{
      grid-template-columns:1fr 1fr;
      grid-template-rows:1fr 1fr 1fr;
    }
  }
  &__option{
    display: flex;
    justify-content: center;
    max-height: 140px;
    border: 1px solid var(--color-level);
    img{
      padding-block: 55px;
    }
  }
}